@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');


.lobbyPage, .createGamePage {
	background: linear-gradient(to bottom, #1d111b 18%, #512021 100%);
	width: 100%;
	height: 100%;
}

.gamePage, .createGamePage {
	margin: 0;
	background: linear-gradient(to bottom, #1d111b 18%, #512021 100%);
}

.homePage {
	
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #502021;
}

.homePageSection {
	background: linear-gradient(to bottom, #1d111b 18%, #512021 100%);
	width: 100%;
	height: 100%;
}

/* End of gradient */
#background {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}

/* Scroll down to learn more CSS */

.containerArrow {
	position: relative;
	top: 85%;
	left: 50%;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
}

.chevron {
	position: absolute;
	width: 28px;
	height: 8px;
	opacity: 0;
	transform: scale3d(0.5, 0.5, 0.5);
	animation: move 3s ease-out infinite;
}

.chevron:first-child {
	animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
	animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
	content: ' ';
	position: absolute;
	top: 0;
	height: 100%;
	width: 51%;
	background: #fff;
}

.chevron:before {
	left: 0;
	transform: skew(0deg, 30deg);
}

.chevron:after {
	right: 0;
	width: 50%;
	transform: skew(0deg, -30deg);
}

@keyframes move {
	25% {
		opacity: 1;
  	}
  	33% {
    	opacity: 1;
    	transform: translateY(30px);
  	}
  	67% {
    	opacity: 1;
    	transform: translateY(40px);
  	}
  	100% {
    	opacity: 0;
    	transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  	}
}

.text {
	display: block;
	margin-top: 140px;
	margin-left: -75px;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	white-space: nowrap;
	opacity: .25;
	animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
	to {
		opacity: 1;
  	}
}

/* End of Scroll CSS */

/* Logo */

#logoImage{
    width: 100%;
    margin: 5px;
}
/* End of Logo */

/* Infomation page CSS */

.information {
	color: white;
	font-family: "Poppins";
	font-size: 16px;
	margin: 0;
}

#ruleHeading {
	font-family: "Montserrat";
	font-weight: 700;
	text-align: center;
	font-size: 35px;
	color: white;
}

#ruleHeading:after {
	content: "";
    width: 300px;
    height: 4px;
    display: block;
    margin: 25px auto 40px auto;
    background: #FFF113;
}

.headings {
	font-family: 'Montserrat';
	text-align: center;
	color: white;
}

#header {
	text-align: center;
}

#rulesHeading {
	text-align: center;
}

#container {
	max-width: 80%;
	margin:auto;
	padding: 60px;
}

#rules {
	max-width: 40%;
	position: relative;
	float: left;
	padding-right: 10%;
}
/* End of Rules */

#videoDemonstration {
	position: relative;
	margin-left: 10%;
	padding-top: 80px;
}

/* Button CSS */

#button{
	text-align: center;
}

.playButton {
	width: 10%;
	height: 10%;
	position: relative;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	font-size: 28px;
	padding: 20px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 40px;
}

.playButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.playButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.playButton:hover span {
  padding-right: 25px;
}

.playButton:hover span:after {
  opacity: 1;
  right: 0;
}
/* End of Button */

/* Gameboard */
#grid {
    background-color: white;
    padding: 2.5%;
    margin: auto;
    display: block;
    width: 100%;
    height: 600px;
    border: 1px solid black;
    position: absolute;
    text-align: center;
}

#board{   
    top: 0;
    position: absolute;
    left: 0;
    overflow: scroll;
    width: 70%;
    height: 100%;
}

/* Side bar for Gameboard */
#sideboard{
    position: absolute;
    left: 70%;
    float: right;
    overflow: auto;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    width: 30%;
    height: 100%;
}

/* Current tile display */
#deckTile{
    border-left: 1px solid black;
    width: 100%;
    height: 70%; /* Full height */
    padding-top: 5%;
    text-align: center;
}

#curTile {
  padding: 5px;
}

#rotateDiv {
  padding: 5px;
}

.meepleButtons {
  width: 75px;
  height: 55px;
  font-family: Poppins;
  font-size: 20px;
  padding: 2px;
  color: white;
  background-color: #6A3997;
}


/* Leaderboard CSS */
#leaderboard{    
    border-left: 1px solid black;
    width: 100%;
    height: 30%; 
    position: relative; 
}


/* leaderboard table CSS */
#scoreboard{
  width: 90%;
  height: 100%;
  z-index: 1;
  margin: 2px;
  background-color: white;
  border-bottom: 1px solid black;
}

#scoreboard th {
    font-family: "Montserrat";
}


  
#scoreboard td{
    font-family: "Poppins";
}

#scoreboard tr{
  border-bottom: 1px solid black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.available {
	cursor: pointer;
}
/* End of Leaderboard */

/* End of Gameboard */

/* ROTATE BUTTON */
#rotateImage{
    cursor: pointer;
    display: block;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius:50%;
    width: 100px;
    height: 100px; 
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -ms-transition: -ms-transform .5s ease-in-out;
    transition: transform .5s ease-in-out; 
  }
  #rotateImage:hover{
    
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
  }
  
  #rotateHeading {
    margin: 0;
    padding-top: 10px;
    text-align: center;
  }
  
  #tileHeading {
    padding-top: 20px;
    text-align: center;
  }
  
  #playerTile {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .sideboardHeadings {
    font-family: "Montserrat";
    text-align: center;
    margin-top: 0;
  }
  
  #gamePageHeader, #lobbyPageHeader, #createGamePageHeader {
	margin-bottom: 20px;
}


/* --------- END OF GAMEPAGE CSS ------*/

/* --------- START OF LOBBY CSS -------*/

#loader {
	margin-left: auto;
	margin-right: auto;
	border-radius: 5%;
	-webkit-animation: spin 4s linear infinite;
	animation: spin 3s 1s linear infinite;
}

#loading, #error {
	text-align: center;
	font-family: Poppins;
	color: white;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

	/* little spinny animation */
@keyframes spin {
	0% { transform: rotate(0deg); }
	20% { transform: rotate(90deg); }
	25% { transform: rotate(90deg); }
	45% { transform: rotate(180deg); }
	50% { transform: rotate(180deg); }
	70% { transform: rotate(270deg); }
	75% { transform: rotate(270deg); }
	95% { transform: rotate(360deg); }
	100% { transform: rotate(360deg); }
}

/* ------------ END OF LOBBY CSS ------ */

/* ------------ START OF CREATE GAME JOIN GAME CSS ------- */

#createPlayerDiv {
	width: 50%; 
	margin: 0 auto;
	padding: 10px;
	background-color: #f2f2f2;
	font-family: Poppins;
}

.avatars {
	width: 150px;
	height: 150px;
}

.avatars:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}


.labelForImage > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.labelForImage > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}

.labelForImage > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
	-webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
            border:2px solid #f00;
}


/* Had to duplicate code for Yellow Meeple due to the greyscale making the picture not visible. Fixed by lowering the brightness */

#yellowMeepleImage > input{ /* HIDE RADIO */
	visibility: hidden; /* Makes input not-clickable */
	position: absolute; /* Remove input from document flow */
  }
  
  #yellowMeepleImage > input + img{ /* IMAGE STYLES */
	cursor:pointer;
	border:2px solid transparent;
	-webkit-filter: brightness(0.7) grayscale(1) opacity(.9);
		 -moz-filter: brightness(0.7) grayscale(1) opacity(.9);
			  filter: brightness(0.7) grayscale(1) opacity(.9);
  }
  
  #yellowMeepleImage > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
	  -webkit-filter: brightness(1.2) grayscale(.5) opacity(1);
		 -moz-filter: brightness(1.2) grayscale(.5) opacity(1);
			  filter: brightness(1.2) grayscale(.5) opacity(1);
			  border:2px solid #f00;
  }
 
 #yellowMeepleImage:hover > img{
   -webkit-filter: brightness(1.2) grayscale(.5) opacity(1);
   -moz-filter: brightness(1.2) grayscale(.5) opacity(1);
   filter: brightness(1.2) grayscale(.5) opacity(1);
}
  
  
  .meepleColor {
	  padding-left: 10px;
	  padding-right: 10px;
	  width: 80px;
	  height: 80px;
  }

  .meepleColor:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
  
  
  #selectAvatarHeading {
	  margin-left: 170px;
  }
  
  #selectAvatarHeading:after {
	  content: "";
	  width: 200px;
	  height: 3px;
	  display: block;
	  margin-top: 10px;
	  margin-left: -30px;
  
	  background: #f00;
  }
  
  #selectColorHeading {
	  margin-left: 160px;
  }
  
  #selectColorHeading:after {
	  content: "";
	  width: 250px;
	  height: 3px;
	  display: block;
	  margin-top: 10px;
	  margin-left: -30px;
  
	  background: #f00;
  }
  
  #nameLabel {
	  margin-left:20px;
  }
  
  #nameTextbox {
	  margin-top: 20px;
	  margin-left: 10px;
	  padding: 5px;
  }
  
  #submitFormButton {
	  margin-left: 170px;
	  margin-top: 20px;
	  background-color: #4CAF50;
	  color: white;
	  padding: 12px 20px;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
  }
  
  #submitFormButton:hover {
	  background-color: #45a049;
  }
