#grid {
    padding: 0;
    margin: auto;
    display: block;
    width: 700px;
    height: 700px;
    border: 1px solid black;
}

#deckTile {
	border: : 1px black;
	margin-bottom: 10%;
	float: right;
	display: inline;
}

.available {
	cursor: pointer;
}